* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #222;
  color: black;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.phone {
  width: 390px;
  min-height: 844px;
  background: #b8ab80;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* TEXT FIX */
button, a, p, div {
  color: black;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

/* LOGO */
.logoImg {
  width: 100px;
  margin-bottom: 10px;
}

.brandCard {
  background: #e7dfb9;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.brandCard.small {
  padding: 15px;
}

.brandText {
  font-weight: bold;
}

/* AVATAR */
.avatar {
  font-size: 60px;
  text-align: center;
}

/* PILLS */
.pill {
  background: #f4f0dc;
  padding: 12px;
  border-radius: 20px;
  text-align: center;
}

/* BUTTONS */
.mainBtn {
  padding: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.green {
  background: #b8f5a2;
}

.orange {
  background: #f6bd79;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background: #f4f0dc;
  padding: 12px;
  border-radius: 18px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn.red {
  background: #ffb0b0;
}

/* NAV */
.bottomNav {
  margin-top: auto;
  background: #f4f0dc;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}

.active {
  color: blue;
}

/* PREMIUM */
.premium {
  background: red;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-top: 200px;
}